* {
	margin: 0px;
	box-sizing: border-box;
}
.gallery_container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 150px auto auto auto auto auto;
}
.top video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.pics {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-rows: 100px;
	grid-gap: 10px;
	padding: 10px;
}
.pics img {
	width: 100%;
	height: 100%;
}
.nav_bar {
	display: grid;
	grid-template-columns: 95px auto;
	background-color: #333333;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index:1001;
}
.jume_text {
	align-self: center;
	color: #f26537;
}
.nav_img{
	width:100%;
	height: 100%;
}
.nav_left {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	margin-left: 10px;
}
.nav_list {
	display: grid;
	grid-template-columns: auto auto auto auto;
	align-content: center;
	justify-content: end;
	grid-gap: 10px;
	margin-right: 10px;
}
.nav_list a {
	text-decoration: none;
	font-size: 10px;
	color: white;
}
.nav_list a:hover {
	color: #f26537;
}
.video_main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-rows: 150px;
	grid-gap: 10px;
	padding: 10px;
}
.video {
	width: 100%;
	height: 100%;
}

.inspo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-auto-rows: 100px;
	grid-gap: 10px;
	padding: 10px;
}
.inspo img {
	width: 100%;
	height: 100%;
}
.foot{
	background-color: #333333;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 80px;
	align-items: center;
}
.link1 {
	display: grid;
	justify-content: center;
}
.link2 {
	display: grid;
	justify-content: center;
	
}
@media (min-width: 1200px) {
	.pics {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 300px;
}
.video_main {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 300px;
}
.inspo {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 300px;
}
.nav_list a {
	font-size: 20px;
}
}
