* {
	margin: 0px;
	box-sizing: border-box;
}
.over_all_container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 200px auto auto auto 400px 80px;
}
.header {
	display: grid;
	grid-template-columns: auto;
	align-content: center;
	animation-name: header2;
	animation-duration: 10s;
}
.font-effect-fire {
	text-align: center;
	font-size: 25px;
	font-family: "Sofia", mogra, Yellowtail, sans-serif;
	animation-name: header1;
	animation-duration: 10s;
}
@keyframes header1 {
  from {font-family: Mogra;}
  to {font-family: Yellowtail;}
}
@keyframes header2 {
  from {background-color: blue;}
  to {background-color: black;}
}
.nav_bar {
	display: grid;
	grid-template-columns: 95px auto;
	background-color: #333333;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index:1001;
}
.jume_text {
	align-self: center;
	color: #f26537;
}
.nav_img{
	width:100%;
	height: 100%;
}
.nav_left {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	margin-left: 10px;
}
.nav_list {
	display: grid;
	grid-template-columns: auto auto auto auto;
	align-content: center;
	justify-content: end;
	grid-gap: 10px;
	margin-right: 10px;
}
.nav_list a {
	text-decoration: none;
	font-size: 10px;
	color: white;
}
.nav_list a:hover {
	color: #f26537;
}
.about_us {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-gap: 10px;
	justify-content: center;
	align-content: center;
}
.about_us_left {
	display: grid;
	grid-template-columns: auto;
}
.about_us_right {
	border: 2px solid red;
	box-shadow: 10px 10px 5px ;
	border-radius: 5px;
	display: none;
}
.about_us_right img {
	width: 100%;
	height: 100%;
}
.primary_text {
	padding: 20px;
	font-size: 25px;
}
.secondary_text{
	padding: 20px;
	font-size: 20px;
	text-align: center;
}
.slid {
	background-image: url("images/slide.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
}
#slider {
	overflow: hidden;
	height: 400px;
	width: 100%;
	margin: auto;
}
#slider figure {
	position: relative;
	width: 1000%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	float: left;
	width: 10%;
	height: 600px;
}
@keyframes slider {
	0% {
		left: 0;
	}
	10% {
		left: 0;
	}
	15% {
		left: -100%;
	}
	20% {
		left: -100%;
	}
	25% {
		left: -200%;
	}
	30% {
		left: -200%;
	}
	35% {
		left: -300%;
	}
	40% {		
		left: -300%;
	}
	45% {
		left: -400%;
	}
	50% {
		left: -400%;
	}
	55% {
		left: -500%;
	}
	60% {
		left: -500%;
	}
	65% {
		left: -600%;
	}
	70% {
		left: -600%;
	}
	75% {
		left: -700%;
	}
	80% {
		left: -700%;
	}
	85% {
		left: -800%;
	}
	90% {
		left: -800%;
	}
	95% {
		left: -900%;
	}
	100% {
		left: -900%;
	}
}
#contact_us {
	background-image: url("images/contact-us-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: grid;
	align-content: space-around;
}
#contact_us p{
	text-align: center;
	font-size: 20px;
}
.red {
	color: red;
}
.footer{
	background-color: #333333;
	display: flex;
}
.link {
	margin: auto;
}
.gallery_link {
	position: fixed;
	bottom: 150px;
	right: 30px;
}
@media (min-width: 1200px) {
	.font-effect-fire {
	font-size: 50px;
}
.primary_text {
	font-size: 50px;
}
.secondary_text{
	font-size: 20px;
}
#slider {
	width: 80%;
	height: 600px;
}
.nav_list a {
	font-size: 20px;
}
.over_all_container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 200px auto 500px auto 400px 80px;
}
.about_us {
	grid-template-columns: 60% 20%;
	grid-template-rows: 60% 20%;
}
.about_us_right {
	display: block;
}
}
